<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="container">
<br>
<h3 class="text-success">Benvenuti alla pagina sul Progetto SDG 16</h3>
	<h6>In questo sito viene descritto il progetto SDG 16, che fa parte dell’iniziativa Sustainable Development Goals,
    questi obiettivi sono stati posti nel 2015 insieme ai leader mondiali e includono 17 diversi argomenti (tra cui il contrasto alla povertà,
    miglioramento dell’educazione, diminuire il riscaldamento globale etc.)
    In questo sito verrà messa alla luce l’importanza delle istituzioni, in tempi di crisi soprattutto è necessario che esse siano forti,
    efficaci, trasparenti e responsabili per creare uno sviluppo sostenibile, e fornire comunque ai cittadini i servizi di cui hanno bisogno.
  </h6>
<br>
<h3 class="text-success">Quale argomento vuoi esplorare?</h3>

<a type="button" class="btn btn-outline-success btn-lg mb-2 mr-2" data-toggle="tooltip" data-placement="top" data-html="true"
title="Come può l'economia di un paese migliorare? Clicca qui per scoprirlo!" href="/expense">Spese del Governo</a>

<a type="button" class="btn btn-outline-success btn-lg mb-2 mr-2" data-toggle="tooltip" data-placement="top" data-html="true"
title="Com'è si può sconfiggere la corruzione? Clicca qui per scoprirlo!" href="/bribery">Corruzione</a>

<a type="button" class="btn btn-outline-success btn-lg mb-2 mr-2" data-toggle="tooltip" data-placement="top" data-html="true"
title="Perché è importante che i neonati siano registrati sin dalla nascita con un certificato? Clicca qui per scoprirlo!" href="/birth">Registrazione delle Nascite</a>

</div>
