<div class="content">
<router-outlet>
<nav class="navbar navbar-expand-lg navbar-light navinalto" style="background-color: #7FBF7F;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SDG 16</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/expense">Spese del Governo</a>
        <a class="nav-link" href="/bribery">Corruzione</a>
        <a class="nav-link" href="/birth">Registrazione delle Nascite</a>

      </div>
    </div>
  </div>
</nav>
<br><br>
</router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <div class="footer-copyright text-center py-3">
    <img src="https://datatopics.worldbank.org/sdgatlas/goal-16-peace-justice-and-strong-institutions/static/media/sdg16-illo-crop.04b337ef.png" width="240" class="rounded mx-auto d-block">
    Sito creato da Andrea Favullo e Luca Ferrari della 5E Informatica a.s. 2020-2021
  </div>
</footer>
