<div class="nascite">
  <!--Sezione Descrizione-->
  <div class="container">
    <br>
    <h1 class="text-success">Corruzione</h1>
    <br>
    <h3 class="text-success">Descrizione</h3>
    <h6>il progetto SDG16 si impegna a ridurre la corruzione e l’abuso di potere nelle istituzioni, specialmente di quelle nazioni considerate in via di sviluppo o sottosviluppate.<br>
      C’è ancora lavoro da fare per eradicare questi problemi. Questo grafico mostra l’incidenza di abuso di ufficio nel mondo:<br><br>
      <img
        src="https://i.ibb.co/ZW8GHgP/bribery.jpg">
    </h6>
    <br>
  </div>

  <!--Sezione Ricerca-->
  <div class="container">
    <br>
    <h3 class="text-success">Ricerca</h3>
    <h6>Scrivi il nome di una nazione (in inglese), per ottenere un grafico a torta sulle percentuali annuali di
      incidenza di abuso di ufficio di quella nazione.<br>
      Non scrivere niente se vuoi vedere tutta la lista di nazioni. <br>
      Alcuni anni potrebbero non essere disponibili visto che non ci sono dati registrati in quei periodi.
    </h6>
    <p>
      <input type="text" #newquery value=" ">
      <button (click)="submit(newquery)">Ricerca</button>
    </p>
  </div>

  <div class="container">
    <hr>
    <!--Sezione Risultati-->
    <div *ngIf="dati_corruzione">
      <!--Se la ricerca non produce risultati-->
      <div *ngIf="!dati_corruzione || dati_corruzione.length==0">
        Non è stata trovata alcuna nazione simile a '{{ query }}'
      </div>
      <!--Se la ricerca produce più di un risultato-->
      <div *ngIf="research">

        <h3 class="text-success">Grafico:</h3>

        <!--Bottoni anni-->
        <span *ngFor="let anno of ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']">
          <a type="button" (click)="submitYear(anno)" class="btn btn-outline-success btn-lg mb-2 mr-2">{{anno}}</a>
        </span>
        <!--Atlante-->
        <p>
          <google-chart [options]="options" [type]="type" [data]="data" [width]="width" [height]="height">
          </google-chart>
        </p>

        <h3 class="text-success">Risultato della Ricerca:</h3>
        <div class="row">

          <div class="col-sm-6 col-md-4" *ngFor="let stato of dati_corruzione">

            <div class="caption">
              <h3 class=".animated .fadeInUp">
                <a [routerLink]="['/bribery/nation', stato.GeoAreaName]">
                  {{ stato.GeoAreaName }}
                </a>
              </h3>
            </div>

          </div>

        </div>

      </div>

    </div>

</div>
